body {
   font-family: 'AvenirNextReg';
   font-size: 1.1111111111111112vw;
   margin: 0;
}

// -----------------------------------------------------
// Global Containers
section {
    padding: 3.5em 0
}

main {
    overflow: hidden;
}

.container {
    max-width: 82.5em;
    margin: 0 auto;
}

// -----------------------------------------------------
// Global Typography

// Headings
h1 {
    margin: 0;
    font-family: AvenirNextBld;
    font-size: 3.75em;
    line-height: 1.067;
    color: white;
}

h2 {
    margin: 0;
    color: rgba(21, 46, 95, 1);
    font-family: "AvenirNextBld";
    font-size: 3em;
    font-weight: 700;
    line-height: 1.083;
}

h3 {
    margin: 0;
    color: rgba(21, 46, 95, 1);
    font-family: "AvenirNextBld";
    font-size: 2em;
    font-weight: 700;
    line-height: 1.125;
}

h4 {
    margin: 0;
    color: rgba(21, 46, 95, 1);
    font-family: "AvenirNextBld";
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.333;
}

h6 {
    margin: 0;
    color: #4A5468;
    font-family: "AvenirNextBld";
    font-size: .75em;
    line-height: 2;
    letter-spacing: .1em;
    text-transform: uppercase;
}


// Body text
p {
    margin: 0;
}

.pLight {
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.4;
    color: #E2E8F0;
}

.pDark {
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.4;
    color: #4A5468;
}

.pLarge {
    color: rgba(21, 46, 95, 1);
    font-family: "AvenirNextReg";
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5;
}

// Misc. Text
.chip {
    display: inline-block;
    padding: 0 1em;
    color: rgba(74, 84, 104, 1);
    font-family: "AvenirNextReg";
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5;
    border-radius: .75em;
    background-color: rgba(226, 232, 240, 1);
}

// -----------------------------------------------------
// Global Links

.mainLink {
    color: #3399E1;
    font-family: "AvenirNextReg";
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5;
}

// -----------------------------------------------------
// Global Buttons
button {
    cursor: pointer;
}

.mainBtn {
    display: flex;
    align-items: center;
    gap: .65em;
    font-family: AvenirNextReg;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5;
    color: white;
    padding: .75em 2em;
    background: #3399E1;
    border: none;
    border-radius: 1.5em;
}

.altBtn {
    display: flex;
    align-items: center;
    gap: .65em;
    font-family: AvenirNextReg;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5;
    color: #3399E1;
    padding: .75em 2em;
    background: none;
    border: 1px solid #A0AEC0;
    border-radius: 1.5em;
}

// Button Wrappers
.btnWrapSml {
    margin-top: 1em;
}

.btnWrap {
    margin-top: 2em;
}

.btnWrapLrg {
    margin-top: 3.5em;
}

// -----------------------------------------------------
// Global Inputs

input[type=email] {
    width: 100%;
    margin: .5em 0;
    padding: .65em;
    border-radius: .5em;
    border: 1px solid #A0AEC0;
    background: white;
    font-family: AvenirNextReg;
    font-size: 1em;
    line-height: 1.5;
    color: #A0AEC0;
}

// -----------------------------------------------------
// Global Modifiers

// Spacing
.is--contentTop {
    padding-top: 1.5em;
}

.is--topPad {
    padding-top: 1em;
}

.is--topPadSmall {
    padding-top: .5em
}

.is--divider {
    border-top: 2px solid #E2E8F0;
}

// Typography
.is--whiteTxt {
    color: white;
}

.is--cntrAlign {
    text-align: center;
}

// Layout
.is--grid2x1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
}

// -----------------------------------------------------
// Media Queries
@media screen and (min-width:1560px) {
    body {
        font-size: 17.333px;
    }
}