.newsletter {
	padding: 5em 8em;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2em;
	border-radius: 2em;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.1);
	background-color: rgba(32, 113, 189, 1);
}

@media screen and (max-width: 768px) {
	.newsletter {
		display: flex;
		flex-direction: column;
		padding: 3em 6em;
	}
}

@media screen and (max-width: 640px) {
	.newsletter {
		padding: 2.5em 4em;
	}
}

@media screen and (max-width: 432px) {
	.newsletter {
		padding: 2em 3em;
	}
}
