.topNav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1em;
    padding: 0 4em;
    background: #F5F8FA;
}

.topNavBtn {
    font-family: AvenirNextBld;
    font-size: .75em;
    letter-spacing: .25;
    line-height: 1.3;
    padding: 1em 2em;
    color: #152E5F;
    background: #A9CC38;
    border: none;
}

a {
    font-family: AvenirNextBld;
    font-size: .75em;
    letter-spacing: .25;
    font-weight: 600;
    line-height: 1.3;
    color: #152E5F;
    text-decoration: none;
}