nav {
    padding: 1em 0;
}

.logo {
    max-width: 8em;
}

.navContainer {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linksWrap {
    display: flex;
    align-items: center;
    gap: 1.65em;
}

.navLink {
    font-size: 1em;
}

.navSearch {
    font-family: 'AvenirNextReg';
    font-size:1em;
    font-weight: 600;
    color: #4A5468;
    padding: 1em .625em 1em 3.125em;
    border-radius: 2em;
    border: none;
    background: #f2f2f2;
    background-image: url(../../images/icons/searchIcon.svg);
    background-size: 11%;
    background-position: 1em;
    background-repeat: no-repeat;
}