.articlesWrap {
    padding-top: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.insightsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5em;
}

@media screen and (max-width: 750px) {
    .articlesWrap {
        display: flex;
        flex-direction: column;
    }

    .insightsHeader {
        justify-content: space-between;
        gap: 2em;
    }

    .altBtn {
        justify-content: center;
        width: 10em;
        flex-shrink: 0;
    }
}