footer {
	background: #152e5f;
}

.footerLogo {
	width: 9em;
}

.footerContainer {
	padding: 4.5em 0 2.5em 0;
}

.footerInfoWrap {
	display: flex;
	align-items: flex-start;
	gap: 4em;
}

.footerLinkList {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.8em;
}

.footerSocialLinks {
	margin-top: 0.75em;
	display: flex;
	gap: 1.2em;
}

.socialLogo {
	width: 3.85em;
}

.footerCopyrightWrap {
	margin-top: 1.25em;
	padding-top: 2.5em;
	display: flex;
	justify-content: space-between;
	border-top: 2px solid #4a5468;
}

.privacyPolicy {
	color: rgba(255, 255, 255, 1);
	font-family: "AvenirNextBld";
	font-size: 0.75em;
	font-weight: 700;
	letter-spacing: 0.25px;
	line-height: 1.25;
}

.copyrightTxt {
	color: rgba(255, 255, 255, 1);
	font-family: "AvenirNextReg";
	font-size: 0.75em;
	font-weight: 500;
	line-height: 1.25;
}

.copyright {
	display: flex;
	align-items: center;
	gap: 1em;
}

.awardsWrap {
	display: flex;
	gap: 1.5em;
}

.award {
	height: 4em;
}

@media screen and (max-width: 1024px) {
	.footerInfoWrap {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 0.5fr 1fr;
		gap: 1em;
	}

	.footerLinkList {
		padding: 0;
		grid-area: 2 / 2 / 1 / 2;
	}

	address {
		grid-area: 2 / 1 / 2 / 2;
	}

	.footerLogo {
		width: 10em;
	}
}

@media screen and (max-width: 640px) {
	.footerInfoWrap {
		display: flex;
		flex-direction: column;
	}

	.footerCopyrightWrap {
		flex-direction: column-reverse;
		gap: 2.5em;
	}
}
